body {
    font-family: 'Readex Pro', sans-serif;
    background-color: #171f2c;
    overflow-x: hidden;
}
@media (min-width: 576px) { 
    .profile{
        height: 100vh;
    }
    .portfolio{
        height: 100vh;
    }
    .design{
        height: 100vh;
    }
    .navigasibar{
        position:sticky;
        bottom: 10px;
    }
}
@media (min-width: 768px) {  
    .profile{
        height: 100vh;
    }
    .nav-bar{
        position:sticky;
        bottom: 20px;
    }
    .portfolio{
        height: 100vh;
    }
    .design{
        height: 100vh;
    }
}
@media (min-width: 992px) {  
    .nav-bar{
        position:sticky;
        bottom: 100px;
    }
    .home{
        height: 100vh;
    }
    .profile{
        height: 100vh;
    }
    .portfolio{
        height: 100vh;
    }
    .design{
        height: 100vh;
    }
}
@media (min-width: 1200px) {  
    .nav-bar{
        position:sticky;
        bottom: 100px;
    }
    .home{
        height: 100vh;
    }
    .profile{
        height: 100vh;
    }
    .portfolio{
        height: 100vh;
    }
    .design{
        height: 100vh;
    }
}
@media (min-width: 1400px) {  
    .nav-bar{
        position:sticky;
        bottom: 100px;
    }
    .home{
        height: 100vh;
    }
    .profile{
        height: 100vh;
    }
    .portfolio{
        height: 100vh;
    }
    .design{
        height: 100vh;
    }
}
/* ========== scrollbar ========= */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2464da00; 
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1f2835d3; 
  }
/* ========== section ==========  */

.nav-bar{
    border-radius: 16px;
    position: sticky;
    top: 20px;
    padding: 1em 0;
    margin-top: 2rem; 
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.home-body{
    position: relative; 
}
.home-col{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.home-col-1{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    height: 200px;
    padding: 20px;
    flex: 45%; 
    margin: 0;
}
.home-col-2{
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    border-top-right-radius: 55px;
    height: 300px;
    padding: 20px;
    flex: 60%;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.home-detail{
    border: solid 2px #3f3e3e;
    border-radius: 19px;
    
}
.profile{
    backdrop-filter: blur(26px);
    -webkit-backdrop-filter: blur(26px);
    background-color: #f5f6fb93; 
}
.portfolio{ 
    overflow-x: hidden;
}
.portfolio{
    height: 100vh; 
    width: 100vw; 
    padding-top: 20rem;
}
/* ========== background==========  */
.card-img-overlay{
    background: linear-gradient(180deg, rgba(30,37,50,0.09567577030812324) 0%, rgba(30,37,50,1) 43%, rgb(0, 0, 0) 100%);
    opacity: 0.5;
    color: #fff;
}
.bg-glass{
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(10px);
    background-color: #ffffff86;
    
    background-color: #f7f9f8a1;
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
}
.bg-outline{
    /* backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px); */
    background-color: #1e242c; 
}
.bg-light-glass {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: #18203054;
}
.bg-light-glass-end {
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(20px);
    background-color: #182030aa;
}
.bg-tab-card{
    background-color:#fff;
    border-radius: 4px;
}

/* bubble */
.animation-bg{
    overflow: hidden; 
    height: 100vh;
    position: fixed;
    z-index: -1;
    width: 100%;
}
.ball {
  animation: float 7.5s ease-in-out infinite;
  height: 1000px;
  width: 1600px;
  border-radius: 50%;
  position: relative;
  top: -590px;

  background: radial-gradient(
    circle at 75% 30%,
    #7ec0fd 1%,
      #59A2F5 18%,
      #0777F3 40%,
      #3d41b1 100%
    );
    box-shadow: inset 0 0 20px #313c5f, inset 10px 0 46px #7897ff,
    inset 88px 0px 60px #3179ff, inset -20px -60px 100px #7ba3fa,
    inset 0 50px 140px #79beff, 0 0 90px #4176d8;
  }
.ball1 {
    animation: float 8.5s ease-in-out infinite;
    height: 1200px;
    width: 1500px;
    border-radius: 50%;
    position: relative;
    top: -1890px;
    left: -330px;
  
    background: radial-gradient(
      circle at 75% 30%,
      #7ec0fd 1%,
      #59A2F5 18%,
      #0777F3 40%,
      #3d41b1 100%
    );
    box-shadow: inset 0 0 20px #7897ff, inset 10px 0 46px #7897ff,
    inset 88px 0px 60px #3179ff, inset -20px -60px 100px #7ba3fa,
    inset 0 50px 140px #79beff, 0 0 90px #4176d8;
  }
  .ball2 {
    animation: float 8s ease-in-out infinite;
    height: 1130px;
    width: 2000px;
    border-radius: 50%;
    position: relative;
    top: -3050px;
    right: -100px;
  
    background: radial-gradient(
      circle at 75% 30%,
      #7ec0fd 1%,
      #59A2F5 18%,
      #0777F3 40%,
      #3d41b1 100%
    );
    box-shadow: inset 0 0 20px #7897ff, inset 10px 0 46px #7897ff,
    inset 88px 0px 60px #3179ff, inset -20px -60px 100px #7ba3fa,
    inset 0 50px 140px #79beff, 0 0 90px #4176d8;
  }
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-60px);
  }
  100% {
    transform: translatey(0px);
  }
}


@media only screen and (max-width: 500px) {
  .bal {
    animation: float 8.5s ease-in-out infinite;
    height: 120px;
    width: 120px;

    background: radial-gradient(
      circle at 65% 35%,
      white 5px,
      aqua 15%,
      darkblue 50%,
      aqua 100%
    );
    box-shadow: inset 0 -20px 30px #fff, inset 40px 0 46px #eaf5fc,
      inset 58px 0px 60px #c2d8fe, inset -8px -30px 100px #fde9ea,
      inset 0 20px 110px #fde9ea, 0 0 90px #fff;
  }
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-50px);
    }
    100% {
      transform: translatey(0px);
    }
  }
}

/* =========== Text =========== */
.teks{
    color: #B1BAFF;
    text-decoration: none;
}
.teks:hover{
    color: #3651ff;
}
.cv-text{
    font-size: 1rem;
    color: #E2E8F0;
    font-weight: 200;
}
.profile-title{
    font-size: 1rem;
    color: #ffffff;
}
.profile-sub-title{
    font-size: 1rem;
    color: #fff;
}
.home-header{
    font-size: 4.4rem;
    font-weight: 200;
    color: #E2E8F0;
    margin-top: -18px;
    font-family: 'Raleway', sans-serif;
}
.home-header1{
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}
.home-header2{
    font-size: 3rem;
    font-weight: 400;
    color: #E2E8F0;
    font-family: 'Raleway', sans-serif;
}
.home-header3{
    font-size: 5.6rem;
    font-weight: 200;
    color: #171717;
    font-family: 'Raleway', sans-serif;
}
.home-text{
    font-weight: 400;
}
.intro-header{
    font-size: 4rem;
    font-weight:500;
}
.text-left{
    text-align: left;
}
.text-dark-lavender{
    color: #5763B5;
}
.text-light-lav{
    color: #ccd1fa;
}
.text-indigo{
    color: #5F6EEA;
}

.text-honey{
    color: #FCB43C;
}
.text-matcha{
    color: #000000;
}
.text-strawberry{
    color: #F36A8D;
}
.text-right{
    text-align: right;
}
.bg-portfolio-tab{
    backdrop-filter: blur(26px);
    -webkit-backdrop-filter: blur(26px);
    background-color: #f5f6fb93;
}
#myTab{
    background-color: none;
    border: none;
    color: #fff;
    border-radius: 0;
}
#myTab .nav-link{
    color: #fff;
    border: none;
    border-left: 2px solid #a3c0ee0a;
    border-radius: 0;
}
#myTab .nav-link:hover{
    color: #A3C0EE;
    background-color: none;
    border: none;
    border-left: 2px solid #a3c0ee11;
    z-index: -1;
    border-radius: 0;
}
#myTab .nav-link.active{
    color: #4B84FA;
    background-color: #0775f300;
    border: none;
    border-left: 2px solid #4B84FA;
    z-index: -1;
    border-radius: 0;
}
/* ------ img ------- */
.card-images{ 
    height: 200px;
    object-fit:cover;
}
.profile-picture{
    width: 220px;
    height: auto;
    overflow: hidden;
    border-radius: 25px;
    display: block;
    animation: none;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
    position: absolute;
    z-index: 2;
}
.profile-picture-bg{
    width: 200px;
    height: 200px;
    object-fit: scale-down;
    position: absolute;
    z-index: 1;
    left: 7%;
    top: 10%;
    filter: drop-shadow(5px 5px 15px #1d33c0b4);
    animation: slowRotate 60s linear infinite;
}

@keyframes slowRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.profile-picture-bg:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
}
/* element */
.tab-link{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.buton-wraper{
    border: solid 1.2px #B1BAFF;
    border-radius: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.buton{
    width: 50px;
    padding-top: 8px;
    padding-bottom: 6px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    border-radius: 9px;
    cursor: pointer;
    color: #B1BAFF;
}
.buton:hover{
    background-color: #2465DA; 
    border: solid 1px #2465DA;
    padding-top: 7.4px;
    padding-bottom: 3.4px;
    border-radius: 7px;
    color: #F5F6FB;
}
/* ========= */
@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}